*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    text-decoration: none;
    
}

body{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    
}

/*Barra de navegación*/
header{
    background: #FED211;
    right: 0;
    top: 0;
    width: 100%;
    padding: 40px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: fixed;  
}

ul.nav__list{
    display: flex;
}

ul.nav__list a{
    color: black;
    font-weight: 700;
    font-size: 16px;
    margin-left: 50px;
    transition: 300ms all ease;
}

ul.nav__list a:hover{
    color:#ffffff;
    font-weight: 700;
}

ul.nav__list a:focus{
    color:#ffffff;
    font-weight: 700;
    border-bottom: 3px solid white;
}

/*Banner*/
section.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: inline-block;
    padding-top: 200px; 
    }

.hero__txt h5{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400; 
    color: #606060;
    margin-bottom: 10px;
   }

.hero__txt h1{
    font-size: 40px;
    font-weight: 900; 
    color: #000000;
    margin-bottom: 10px;
     }

.hero__txt p{
    color: #606060;
    font-size: 16px;
    margin-bottom: 50px;
    
}

.img-banner{
    margin-top: 70px;
}

section.hero a{
   background-color: #FED211;
    color: #000000;
    border: 1px solid transparent;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 50px;
    transition: 300ms all ease;
}

section.hero a:hover{
    background-color: #000000;
    color: #ffffff;
}

.icon__hero{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
}

.icon__hero i{
    color: #c6c6c6;
    margin: 0px 15px;
}

/*Servicios*/

.servicios__txt{
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 80px;
}

.servicios__txt h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.servicios__txt p{
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.5;
    color: #606060;
}

.servicio__1{
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    align-items: center;
    gap: 2rem;
    padding: 0 15%;
    
}

.servicio1__txt h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0 0 0 40px;
    padding-right: 40px;
}

.servicio1__txt p{
    font-size: 14px;
    line-height: 1.5;
    color: #606060;
    padding: 0 0 0 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.servicio1__img{
    width: 100%;
    height: auto;
}

.servicio1__txt a{
    background-color: #FED211;
    color: #000000;
    border: 1px solid transparent;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    transition: 300ms all ease;
    margin-left: 40px;
    margin-top: 100px;
}

.servicio1__txt a:hover{
    background-color: #000000;
    color: #ffffff;
}

.servicio__2{
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    align-items: center;
    gap: 2rem;
    padding: 0 15%;
    margin-top: 80px;
    
}

.servicio2__txt h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0 0 0 40px;
    padding-right: 40px;
}

.servicio2__txt p{
    font-size: 14px;
    line-height: 1.5;
    color: #606060;
    padding: 0 0 0 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.servicio2__img{
    width: 100%;
    height: auto;
}

.servicio2__txt a{
    background-color: #FED211;
    color: #000000;
    border: 1px solid transparent;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    transition: 300ms all ease;
    margin-left: 40px;
    margin-top: 100px;
}

.servicio2__txt a:hover{
    background-color: #000000;
    color: #ffffff;
}

.servicio__3{
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    align-items: center;
    gap: 2rem;
    padding: 0 15%;
    margin-top: 80px;
    
}

.servicio3__txt h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0 0 0 40px;
    padding-right: 40px;
}

.servicio3__txt p{
    font-size: 14px;
    line-height: 1.5;
    color: #606060;
    padding: 0 0 0 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.servicio3__img{
    width: 100%;
    height: auto;
}

.servicio3__txt a{
    background-color: #FED211;
    color: #000000;
    border: 1px solid transparent;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    transition: 300ms all ease;
    margin-left: 40px;
    margin-top: 100px;
}

.servicio3__txt a:hover{
    background-color: #000000;
    color: #ffffff;
}

/*Formulario*/

.contacto{
    max-width: 36px;
    margin-left: 600px;
    padding: 20px;
    
}

.contacto h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 80px;
    margin-left: 40px;
}

form label{
    display:block;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}

form input,
form textarea{
    display: block;
    width: 300px;
    padding: 10px;
    border: 1px solid #606060;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}

form textarea{
    height: 150px;
}

form button{
    background-color: #FED211;
    color: #000000;
    border: 1px solid transparent;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    transition: 300ms all ease;
    margin-left: 90px; 
    margin-bottom: 80px;
}

form button:hover{
    background-color: #000000;
    color: #ffffff;
}

form button:active{
    transform: scale(0.9);
}

/*Pie de página*/

footer{
    background-color: #FED211;
    padding: 20px;
    font-size: 14px;
    color: #000000;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column h4{
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.5;
}

.footer-column p{
    color: #000000;
    line-height: 1.5;
}